$coquelicot: #f15025ff;
$white: #ffffffff;
$royal-blue-traditional: #0a2472ff;
$platinum: #e6e8e6ff;
$timberwolf: #545643;

$color-primary: $royal-blue-traditional;
$color-secondary: $coquelicot;
$color-tertiary: $timberwolf;